.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
  transition: .4s .1s;
}

.footer__column-link:visited {
  color: white;
}

.footer__column-link:hover {
  opacity: .7;
}