.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: .4s .2s;
}

.feynman__link:hover {
  opacity: .7;
}